<!DOCTYPE html>
<html>
<head>
  <% var title = "Terminator - Get your Anmeldung appointment pronto!" %>
  <% var description = "Avoid waiting in line at the Bürgeramt (city hall), Anmeld (register) ASAP!" %>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:url" content="http://terminator.berlin"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="<% title %>"/>
  <meta property="og:description" content="<% description %>"/>
  <!--<meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />-->
  <title>Terminator - Get your Anmeldung appointment pronto!</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <meta name="description" content="Avoid waiting in line at the Bürgeramt (city hall), Anmeld (register) ASAP!"/>

  <% for (var chunk of webpack.chunks) {
    for (var file of chunk.files) {
  if (file.match(/\.(js|css)$/)) { %>
  <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/) ? 'style' : 'script' %>">
  <% }}} %>
</head>
<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="app"></div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>
